In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm

%matplotlib inline

In [2]:
gdp_df = pd.read_csv('../data/gdp_per_capita.csv')

In [3]:
gdp_df.head(10)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  1734.723214              NaN
1     Afghanistan  2017  1758.465636              NaN
2     Afghanistan  2016  1757.023490              NaN
3     Afghanistan  2015  1766.593077              NaN
4     Afghanistan  2014  1795.735834              NaN
5     Afghanistan  2013  1807.762344              NaN
6     Afghanistan  2012  1772.764974              NaN
7     Afghanistan  2011  1626.764793              NaN
8     Afghanistan  2010  1671.581238              NaN
9     Afghanistan  2009  1502.354073              NaN

In [4]:
gdp_df

,Country or Area,Year,Value,Value Footnotes
0,Afghanistan,2018,1734.723214,NaN
1,Afghanistan,2017,1758.465636,NaN
2,Afghanistan,2016,1757.023490,NaN
3,Afghanistan,2015,1766.593077,NaN
4,Afghanistan,2014,1795.735834,NaN
...,...,...,...,...
6726,Zimbabwe,1992,2591.007534,NaN
6727,Zimbabwe,1991,2906.272849,NaN
6728,Zimbabwe,1990,2819.549467,NaN
6729,footnoteSeqID,Footnote,NaN,NaN
6730,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [5]:
gdp_df = gdp_df.drop(['Value Footnotes'], axis = 1)
gdp_df = gdp_df.rename(columns = {'Country or Area' : 'Country', 'Value' : 'GDP_Per_Capita'})
gdp_df

            Country                                      Year  GDP_Per_Capita
0       Afghanistan                                      2018     1734.723214
1       Afghanistan                                      2017     1758.465636
2       Afghanistan                                      2016     1757.023490
3       Afghanistan                                      2015     1766.593077
4       Afghanistan                                      2014     1795.735834
...             ...                                       ...             ...
6726       Zimbabwe                                      1992     2591.007534
6727       Zimbabwe                                      1991     2906.272849
6728       Zimbabwe                                      1990     2819.549467
6729  footnoteSeqID                                  Footnote             NaN
6730              2  Excludes South Sudan after July 9, 2011.             NaN

[6731 rows x 3 columns]